body .nodequeue-table  {
	font-size: 13px;
}
.sub-header-li ul{
	padding-left:15px;
}
.region-footer {
	width:980px;
	margin-left:auto;
	margin-right:auto;
	padding-top:20px;
}
.front .region-footer {
	padding-top:0px;
}
.body-inner {
	background-image:url("../images/bg_sky.jpg");
	background-repeat:no-repeat;
	background-position:center top;
}
#main-wrapper {
	padding-top:20px;
}
.clear-block {
	clear:both!important;
	margin:0!important;
	padding:0!important;
	width:0!important;
	font-size:0!important;
	float:none!important;
}
h1 {
	font-family: "Calibri", "Lucida Sans", "Lucida Grande", sans-serif;
	color:#FF6C00;
	font-size: 25px;
	font-weight: normal;
}
h2 {
	color: #505961;
	font-size: 21px;
	font-weight: bold;
	margin-top: 0px;
	text-transform: uppercase;
	line-height: 26px;
  margin-bottom: 22px;
}
h3 {
	margin-top:0;
	margin-bottom:0;
	color:#333333;	
	font-size:14px;
}
a {
	color:#198097;
	text-decoration:none;
}
* {
	outline:none;
	outline-style:none;
}
a:hover {
	color:#ff6c00;
}
.dark-gray {
	color:#333333;
}
/**** Layout template ****/	
.not-front .sidebar-first #content , .not-front .two-sidebars #content {
	margin-left:195px;
}
.no-sidebars #content {
	width:980px;
}
.not-front .sidebar-first #content {
	width:790px;
	margin-right:-1000px;
	background-image:url(../images/line.jpg);
	background-position:left top;
	background-repeat:no-repeat;
}
.sidebar-second #content {
	/*width:820px;*/
	/*width:760px;
	margin-right:-760px;*/
}
.two-sidebars #content { 
	margin-right:-820px;
	width:620px;
	background-image:url(../images/line.jpg);
	background-position:left top;
	background-repeat:no-repeat;
}
.region-sidebar-second {
	width: 170px;
	margin-left:815px;
}
.sidebar-first #content .section , .two-sidebars #content .section {
	margin-left:30px;
}
.region-sidebar-first {
	width:195px;
}
body.page-contact-contact-us .region-sidebar-first {
	width:340px;
	position:relative;
	left: -145px;
}
body.page-contact-contact-us.sidebar-first #content {
  margin-left: 340px;
}
/*****************************************/
#lz-startChat{
	width:170px;
}
a#live-online,.lz-offline a{
	background-image:url(../images/chat/bt_chatOffline.png);
	background-repeat:no-repeat;
	width:170px;
	height:70px;
	display:block;
	font-size:0;
}	
a#live-online:hover ,.lz-offline a:hover{
	background-position:0 -70px;
}
/*.lz-online img,*/
.lz-online #lz-btn{
	background-image:url(../images/chat/bt_chatOnline.png);
	background-repeat:no-repeat;
	width:170px;
	height:70px;
	display:block;
	font-size:0;
}	
/*.lz-online img:hover*/
.lz-online #lz-btn:hover{
	background-position:0 -70px;
}
.live-online {
	/*margin-top:35px;*/
}
.node-type-home-page .live-online{
	margin-left: -10px;
    margin-top: 8px;
    width: 165px;
}
#block-stu_footer-0 {
	margin-bottom:0;
}

/**************** left menu **********/
.region-sidebar-first {
	padding-top:30px;
	font-size:14px;
	font-weight: bold;
}
.region-sidebar-first .block a {
	color: #505961; 
}
.region-sidebar-first .block a:hover {
	color:#ff6c00;
}
.region-sidebar-first .block a.active {
	/*background: url("../images/icon/chevron.jpg") no-repeat scroll left center transparent;*/
   /* padding-left: 10px;*/
	 color: #ff6c00;
}
.region-sidebar-first .block li.active {
	background: url("../images/icon/chevron.jpg") no-repeat scroll left center transparent;	
}
/*.region-sidebar-first li:not(:first-child){
	border-top: 1px dotted #D1D1D1;
	padding:10px;
}*/
.region-sidebar-first li{
	border-top: 1px dotted #D1D1D1;
	padding:10px;
}
#block-block-3 .left-navigation li,#block-menu-menu-whatclientssay li{
	border-bottom: 1px dotted #D1D1D1;
	border-top: none;
	padding-top:5px;
	padding-bottom:5px;
}
.region-sidebar-first li.last {
	border-bottom:1px dotted #D1D1D1;
}
.region-sidebar-first li {
	list-style:none !important;
	list-style-image:none!important;
}
.region-sidebar-first ul {
	margin:0;
	padding:0;
}
.region-sidebar-first .block .left-view-all {
	color:#198097;
}
.div-view-all {
	padding-top:15px;
}
.region-sidebar-first .block .left-active {
	color:#ff6c00;
}
.region-sidebar-first ul.menu li, .region-sidebar-first li.expanded, .region-sidebar-first li.collapsed, .region-sidebar-first li.leaf {
	padding:10px;
}
.region-sidebar-first li.active-trail {
	/*background: url("../images/icon/chevron.jpg") no-repeat scroll left center transparent;*/
    color: #ff6c00;
    padding-left: 10px;	
	background-image:url("../images/icon/chevron.jpg"); 
	background-repeat:no-repeat;
	background-position: 0 12px;	
}
.region-sidebar-first #block-menu-menu-aboutusleftmenu  li.active-trail {
	background-position: 0 16px;	
}
.region-sidebar-first li.active-trail.sub-menu {
    background-image: url("../images/icon/chevron.jpg");
    background-position: 10px 15px;
    background-repeat: no-repeat;
    color: #FF6C00;
    padding-left: 30px;
}
.left-navigation li.active {
	/*background: url("../images/icon/chevron.jpg") no-repeat scroll left center transparent;*/
	background: url("../images/icon/chevron.jpg") no-repeat scroll 0 15px transparent;
    color: #ff6c00;
    padding-left: 10px;
}
div#block-menu-menu-destinationsleftmenu .content ul li.sub-menu{
	padding-left: 20px;
}
div#block-menu-menu-destinationsleftmenu .content ul li.main-menu a{
	color:#333333;
	font-size:13px;
	font-weight:bold;
}
div#block-menu-menu-destinationsleftmenu .content ul li.main-menu a:hover{
	color:#333333;
}

/****************************/

/**** gray box *****/
.gray-box {
	width:603px;
	background-image:url(../images/gray_box/box_testimonialMiddle.jpg);
	background-repeat:repeat-y;
}
.gray-box-content {
	padding:20px;
	padding-left:30px;
	padding-right:30px;
	padding-bottom:0;
}
.gray-box-header {
	background-image:url(../images/gray_box/box_testimonialTop.jpg);
	background-position:center top;
	background-repeat:no-repeat;
	width:603px;
	min-height:68px;
}
.gray-box-footer {
	background-image:url(../images/gray_box/box_testimonialBottom.jpg);
	background-position:bottom;
	background-repeat:no-repeat;
	width:603px;
	height:18px;
}
.procedure-group .Dental {
	/*margin-top:-150px;*/
}
.procedure-gray-box {
	width:410px;
	background-image:url(../images/box_w_shadow/procedures/box_middle.jpg);
	background-repeat:repeat-y;
	margin-top:20px;
	float:left;
}
.procedure-gray-box-content {
	padding:20px;
	padding-left:30px;
	padding-right:30px;
	padding-bottom:0;
	min-height:280px;
}
.procedure-gray-box-header {
	background-image:url(../images/box_w_shadow/procedures/box_top.jpg);
	background-position:left top;
	background-repeat:no-repeat;
	width:410px;
	min-height:68px;
	margin-top:-10px;
}
.procedure-gray-box-footer {
	background-image:url(../images/box_w_shadow/procedures/box_bottom.jpg);
	background-position:left bottom;
	background-repeat:no-repeat;
	width:410px;
	height:18px;
}
/********************************/

/****** procedure ***/
.procedure-detail p {
	margin:0px;
}
.node-type-procedure h2 {
	margin-top:10px;
}
.procedure-overview p {
	/*margin:0;*/
	padding:0;
	line-height:20px;
}
.procedure-detail , .procedure-body , .procedure-facility {
	margin-top:15px;
}
.procedure-before-after-image {
	padding-top:10px;
}
.procedure-before-after-text {
	margin-bottom:20px;
}
span.procedure-after {
	margin-left:240px;
}
.procedure-testimonial .line {
	margin-left:5px;
	margin-right:5px;
}
.procedure-testimonial-longbody p {
	margin:0;
}
.procedure-testimonial-longbody {
	margin-top:10px;
	margin-bottom:10px;
}
.procedure-faq-item {
	padding-top:10px;
}
.procedure-faq-inner {
	margin-top:20px;
}
.procedure-faq a.faq-question {
	padding-left:25px;
	background-repeat:no-repeat;
	display:inline-block;
	height:18px;
	line-height:19px;
	background-image:url(../images/plus.jpg);
	cursor:pointer;
}
.procedure-faq .a-open {
	background-image:url(../images/minus.jpg)!important;
	font-style:italic;
	color:#333333;
	font-size:16px;
	font-weight: bold;
}
.procedure-faq-a {
	/*display:none;*/
	/*margin-left:25px;
	margin-top:10px;*/
	font-family: georgia,times,serif;
	font-style:italic;
	font-size:14px;
}
.procedure-detail span {
	font-weight:bold;
}
.procedure-testimonial-body , .procedure-testimonial-longbody {
	color: #333;
    font-family: georgia,times,serif;
    font-size: 14px;
    font-style: italic;
    line-height: 1.7em;
   /* margin-left: 25px;*/
    width: 450px;
}

.procedure-testimonial .procedure-testimonial-body  a,.procedure-testimonial .procedure-testimonial-body   {
	color:#333 !important;
	font-family:georgia,times,serif;
	font-size:14px;
	font-style:italic;
	line-height:1.7em;
    width: 450px;
}
.procedure-testimonial .procedure-testimonial-body  a:hover{
	color:#1C63A8 !important;
}
#node-30 .procedure-testimonial-body ,#node-30 .procedure-testimonial-longbody {
	float:left;
}
/*.procedure-testimonial-longbody {
	margin-left: 30px;
    margin-right: 20px;
	width: 450px;
}*/
.procedure-testimonial-content p {
	/*margin-top:0;*/
}
.text-quote-open {
	position:relative;
	top:15px;
}
.text-quote-close {
	float:right;
	margin-top:-10px;
}
.procedure-testimonial-content .view-more {
	margin-left:30px;
	margin-top:-10px;
}
span.testimonial-title {
	font-size:15px;
}
.procedure-testimonial-title {
	color:#333333;
}
.procedure-testimonial-second {
	margin-top:5px;
	color:#198097;
}
h3.procedure-group-title {
  	color: #505961;
    font-family: Times New Roman,times,georgia,serif;
    font-size: 21px;
    /*font-style: italic;*/
    font-weight: normal;
    padding:0;
	margin:0;
}
.procedure-list {
	width:175px;
}
ul.procedure-item , ul.procedure-item li {
	list-style:none;
	margin:0;
	padding:0;
}
ul.procedure-item {
	margin-top:10px;
}
ul.procedure-item li {
    background: url("../images/chevron_blue.jpg") no-repeat scroll transparent;
	padding-left:15px;
	background-position:0% 4px;
}
ul.procedure-item li:hover  {
    background: url("../images/chevron.jpg") no-repeat scroll transparent;
	background-position:0% 4px;
}
.procedure-submenu ul.procedure-item{
	margin-top:0px;
}
.procedure-submenu ul.procedure-item li {
	padding-left:15px;
	line-height: 18px;
	margin-top:0px;
	background: none;
	border: none;
}
.procedure-submenu ul.procedure-item li:hover  {
    background: none;
}
.procedure-submenu ul.procedure-item li.active  {
    background: none;
	border: none;
}
/*ul.procedure-item li a.active{
    background: url("../images/chevron.jpg") no-repeat scroll transparent;
	background-position:0% 5px;
}*/
.procedure-next-prev .previous , .procedure-next-prev .next , .procedure-next-prev span {
	float:left;
}
.procedure-next-prev span {
	margin-left:10px;
	margin-right:10px;
}
.precedure-page-bottom .live-online {
	float:left;
}
.precedure-page-bottom .procedure-next-prev {
	float:left;
	margin-top:45px;
	margin-bottom:20px;
}
.precedure-page-bottom .live-online {
	margin-top:0;
}
.precedure-page-bottom {
	margin-top:30px;
}

/************** DOCTOR *************/
#download-pdf {
	background-image:url(../images/bt_pdf.jpg);
	cursor:pointer;
	display:inline-block;
	height:20px;
	padding-left:23px;
	background-repeat:no-repeat;
	background-position:left;
	line-height:22px;
}
#download-pdf:hover {
	background-image:url(../images/bt_pdfOver.jpg);
}
body.node-type-doctor h1.title {
  /*display: none;*/
}
body.node-type-doctor h1.title.node-title {
  display: inline;
  float: left;

}
.doctor-next-prev {
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
}
.doctor-image {	
	/*text-align: center;*/
}
.doctor-content-right {
	float:left;
	/*width:400px;*/
	padding-left:20px;
}
.doctor-content-right .doctor-body p{
	padding:0px !important;
}
.doctor-image , .doctor-content-right , .doctor-training , .doctor-work , .doctor-cases , .doctor-education , .doctor-specialty ,.doctor-graduate, .doctor-fellowship {
	margin-top:15px;
	padding-left: 0;
}
.region-sidebar-first .block .doctor-type {
	/*border-bottom:1px dotted #d1d1d1;*/
	margin:0;
	padding-top:10px;
	padding-bottom:10px;
	display:block;
	color:#333333;
}
.region-sidebar-first #block-stu_doctor-0 li {
	border:none;
	padding:0;
	padding-left:15px;
	padding-bottom:8px;
}
li.plastic-active ,  li.dental-active {
	background: url("../images/chevron.jpg") no-repeat scroll transparent;
	background-position:0% 5px;
	padding:0;	
}
#block-stu_doctor-0 li.plastic-active ,#block-stu_doctor-0 li.dental-active {
	background: url("../images/chevron.jpg") no-repeat scroll transparent;
	background-position:0% 3px;
	padding:0;	
}
#block-stu_doctor-0 .head-destination {
	color:#505961;
	text-transform:none;
	margin:0;
	padding-top:10px;
	padding-bottom:10px;
	border-top:1px dotted #d1d1d1;
}
.dental-surgeons {
	/*border-top:1px dotted #d1d1d1;*/
}
.doctor-next-prev .previous , .doctor-next-prev .next , .doctor-next-prev span {
	float:left;
}
.doctor-next-prev span {
	margin-left:10px;
	margin-right:10px;
}
.doctor-page-bottom .live-online {
	float:left;
}
.doctor-page-bottom .doctor-next-prev {
	float:right;
	/*margin-top:45px;*/
}
.doctor-page-bottom .live-online {
	margin-top:0;
	margin-left: -5px;
}
.doctor-page-bottom {
	/*margin-top:30px;*/
}
span#convert {
	color:#198097;
	margin-left:10px;
	font-size:15px;
}
#node-107 span#convert {
	color:#198097;
	margin-left:0px;
	font-size:15px;
}
span#selected_currency_symbol{
	margin-left:5px;
}
#block-stu_converter-0 {
	/*font-family:Times New Roman,times,georgia,serif;
	font-size:14px;
	margin-left: 5px;*/
	
	color: #585858;
	font-family: Georgia, Times New Roman, Times, serif;
	font-size: 15px;
	margin-left: 5px;

}
#block-stu_converter-0 p {
	margin:0;
}
.convert-from  {
	/*border-top:dotted 1px #d1d1d1;*/
	padding-top:10px;
	font-size: 19px;
}
.convert-to {
	padding-bottom:10px;
	margin-top: 8px;
	font-size: 16px;
}
#currency_select {
	display:block;
	width:175px;
	overflow:hidden;
}
#node-107 #currency_select {
	width:250px;
}

#currency_select select {
	width:160px;
	margin:0!important;
	margin-top:5px!important;
	
	
	color:#198097;
	height:24px;
	padding:5px;
	padding-top:3px;
	background-color: Transparent;
}
/*
.pricelist-procedure-list li {
	float: left;
    list-style: none outside none;
    width: 300px;
}

.pricelist-procedure-list ul {
	margin:0px;
	padding:0;
}

#node-104 .pricelist-group-title {
	border-top:1px solid #d1d1d1;
	margin-top:10px;
	padding-top:10px;
}
*/
/************************************ ENQUIRY ************************/
.enquiry-tell-us-box {
	background: url("../images/quote/quoteBox_left.jpg") no-repeat scroll transparent;
	width:508px;
	min-height:96px;
	background-position:top;
	float:left;
}
.enquiry-tell-us-box-inner {
	padding:35px;
}
.enquiry-what-procedure-box {
	background: url("../images/quote/quoteBox_right.jpg") no-repeat scroll transparent;
	width:472px;
	min-height:96px;
	background-position:top;
	float:left;
}
.enquiry-what-procedure-box-inner {
	padding:35px;
	padding-right:15px;
}
.enquiry-about-trip-box {
	background: url("../images/quote/quoteBox_3trip.jpg") no-repeat scroll transparent;
	width:293px;
	min-height:96px;
	background-position:top;
	float:left;
}
.enquiry-about-trip-box-inner {
	padding:35px;
}
.enquiry-do-you-box {
	background: url("../images/quote/quoteBox_4require.jpg") no-repeat scroll transparent;
	width:687px;
	min-height:96px;
	background-position:top;
	float:left;
}
.enquiry-do-you-box-inner {
	padding:35px;
}
#webform-client-form-107 .form-text {
	width:200px;
}
#webform-client-form-107 #edit-submitted-country-of-residence{
	width:205px;
}
.convert-from {
  position: absolute;
  margin-left: -4000px;
}
.enquiry-tell-us-box-inner>div {
	width:213px;
	float:left;
	margin-bottom:15px;
}
.enquiry-tell-us-box-inner div.convert-to {
  width: auto;
}
.enquiry-left-wrapper>div {
	margin-bottom:15px;
}
.enquiry-right-wrapper>div {
	margin-bottom:15px;
}
#webform-client-form-107 .form-item , #webform-client-form-107 .form-radios {
	margin:0;
}
#webform-client-form-107 .form-radios div {
	width:100px;
	float:left;
}
#webform-client-form-107 .form-radios #edit-submitted-preferred-destination-3-wrapper {
    width: 160px;
}
#webform-client-form-107 .webform-datepicker div {
	width:60px;
	float:left;
}
#webform-client-form-107 .webform-datepicker #edit-submitted-date-of-birth-month-wrapper{
	width:70px;
}
#webform-client-form-107 .webform-datepicker input {
	padding:0;
	margin-top: 5px;
}
#webform-client-form-107 h2 {
	text-transform:none;
	color:#FF6C00;
	line-height:14px;
}
#webform-client-form-107 label {
    margin-top: 8px;
	color:#198097;
}
.enquiry-what-procedure-box-inner>div {
	/*margin-bottom:15px;*/
}
.enquiry-about-trip-box-inner>div {
	margin-bottom:15px;
}

#webform-component-are-you-travelling-with-others {
	float:left;
}
#edit-submitted-how-many {
	width:100px!important;
}
#edit-next {	
	background: url("../images/quote/bt_next.jpg");
	background-repeat:no-repeat;
	border:none;
	width:118px;
	height:40px;
	cursor:pointer;
	color:#ffffff;
	font-family: Calibri, sans-serif;
	font-size: 19px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}
#edit-next:hover {
	background: url("../images/quote/bt_nextOver.jpg");
}
#edit-previous {
	background: url("../images/quote/bt_back.jpg");
	background-repeat:no-repeat;
	border:none;
	width:118px;
	height:40px;
	cursor:pointer;
	color:#ffffff;
}
#edit-previous:hover {
	background: url("../images/quote/bt_backOver.jpg");
}
#user-pass-reset #edit-submit:hover {
	background: url("../images/quote/bt_nextOver.jpg");
}
#edit-submit {
	background: url("../images/quote/bt_next.jpg");
	background-repeat:no-repeat;
	border:none;
	width:118px;
	height:40px;
	cursor:pointer;
	color:#ffffff;
}
.enquiry-do-you-top>div {
	float:left;
	width:170px;
}
.enquiry-do-you-bottom>div {
	float:left;
	width:170px;
}
#webform-client-form-107 .enquiry-do-you-top .form-radios div ,  #webform-client-form-107 .enquiry-do-you-bottom .form-radios div {
	width:70px;
}
#webform-client-form-107 .enquiry-right-wrapper .form-radios div {
	width:70px;
}
.enquiry-right-wrapper {
	width:250px!important;
	float:left;
}
.enquiry-left-wrapper {
	width:350px!important;
	float:left;
}
.enquiry-airfare-wraper>div {
	margin-bottom:15px;
}
#webform-component-can-we-contact-you-by-phone , #webform-component-do-you-want-to-be-informed-of-specials-and-updates , #webform-component-have-you-read-understood-and-agree-to-the-terms--conditions {
	float:left;
}
#webform-component-are-you-travelling-with-others .form-radios div {
	width:70px;
}
#edit-submitted-when-do-you-plan-to-have-surgery-month-wrapper {
	width:74px!important;
}
#edit-submitted-departing-month-wrapper {
	width:74px!important;
}
#edit-submitted-returning-month-wrapper {
	width:74px!important;
}
#edit-submitted-fromcity-or-airport {
	width:210px;
}
#edit-submitted-tocity-or-airport {
	width:210px;
}
.webform-calendar {
	margin-left:3px;
}
.submit-bt {
	background: url("../images/quote/bt_next.jpg");
	background-repeat:no-repeat;
	border:none;
	width:118px;
	height:40px;
	cursor:pointer;
	color:#ffffff;
	display:block;
	font-size:14px;
	padding-left:35px;
	line-height: 40px;
	text-transform: uppercase;
}
.submit-bt:hover {
	background: url("../images/quote/bt_nextOver.jpg");
	background-repeat:no-repeat;
	color:#ffffff;
}
#webform-plastic-procedure {
  
}
/* Only display the liposuction graphic when the checkbox is ticked  */
#liposuction-procedure {
  width: 600px;
  visibility: visible;
  clear: both;
}
.webform-surgical-procedure-left {
  float: left;
  width: 200px;
}
.webform-surgical-procedure-right {
  float: right;
  width: 300px;
}
#liposuction-procedure .webform-surgical-procedure-left {
  width: 100px;
}
#liposuction-procedure .webform-surgical-procedure-right {
  width: 400px;
}

#procedure-list-left {
  float: left;
  width: 270px;
  padding-left: 0px;
}
#procedure-list-right {
  float: right;
  width: 270px;
  padding-left: 0px;
}
ul#procedure-list-right li,
ul#procedure-list-left li {
  list-style: none;
}
.dental-upper-teeth  , .dental-lower-teeth  {
	margin-top:20px;
	background-color:#A7E4F6;
	width:280px;
}
.dental-upper-teeth {
  margin-top: 0px;
}
.dental-upper-teeth-inner  , .dental-lower-teeth-inner  {
	padding:15px;
}
.dental-upper-teeth td , .dental-lower-teeth td {
	padding-right:15px;
	padding-top:10px;
}
.dental-upper-teeth tbody , .dental-lower-teeth tbody {
	border:none;
	border-top:none;
}
.dental-upper-teeth p , .dental-lower-teeth p , .dental-upper-teeth table , .dental-lower-teeth table {
	margin:0;
}
a.clear-bt {
	text-decoration:underline;
	display:block;
	margin: 10px;
}
.webform-dental-procedure-left {
	width:400px;
	float:left
}
.webform-dental-procedure-right {
	width:200px;
	float:left;
	margin-top:20px;
}
.package-bt , .plastic-bt{
	margin-top:-4px;
	width:250px;
}
 
.dental-bt a , .package-bt a , .plastic-bt a, .non-surgical-bt a{
	float:left;
}
.select-all   {
  float: left;
  margin-top: 10px;
}
#webform-dental-procedure , #webform-dental-procedure-2 , #webform-dental-procedure-3 , #webform-package , #webform-plastic-procedure, #webform-non-surgical-procedure  {
	display:none;
}
#webform-plastic-procedure-div {
	
}
#webform-plastic-bt {
    margin-bottom: 10px;
}
.webform-plastic-procedure-group {
	width:580px;
	float:left;
	margin-top:0px;
}
.webform-select-bt {
	background: url("../images/quote/bt_select.jpg");
	background-repeat:no-repeat;
	display:block;
	width:66px;
	height:24px;
	color:#ffffff;
	padding-left:20px;
	margin-top:5px;
}
.webform-select-bt:hover {
	background: url("../images/quote/bt_selectOver.jpg");
	background-repeat:no-repeat;
	color:#ffffff;
}
.other-makeover {
  margin-left: 12px;
}
.dental-procedure-html {
  
}
#webform-component-plactic-surgery---non-surgical-procedures , #webform-component-a-tooth-teeth-selected , #webform-component-packages {
	margin-bottom:0;
}
#webform-client-form-107 #edit-submitted-plactic-surgery---non-surgical-procedures {
	width:376px;
}
#webform-client-form-107 #edit-submitted-packages {
	width:376px;
}
.enquiry-airfare-wraper {
	display:none;
}
#webform-client-form-107 .enquiry-dental-procedure  input {
	width:183px;
}
#webform-component-dental-procedures , #webform-component-a-tooth-teeth-selected {
	float:left;
}
#webform-component-dental-procedures-2 , #webform-component-a-tooth-teeth-selected-2 {
	float:left;
}
#webform-component-dental-procedures-3 , #webform-component-a-tooth-teeth-selected-3 {
	float:left;
}
#webform-component-a-tooth-teeth-selected , #webform-component-a-tooth-teeth-selected-2 , #webform-component-a-tooth-teeth-selected-3 {
	margin-left:5px;
}
.enquiry-what-procedure-box-inner .enquiry-dental-procedure {
	margin:16px 0px;
	
}
#enquiry-dental-procedure-2 , #enquiry-dental-procedure-3 , #webform-dental-add , #webform-dental-add-2 {
	display:none;
}
.dental-button-wrapper a{
	float:left;
}
.webform-add-more {
	margin-top:9px;
	margin-left:50px;
}
#node-107 .print_pdf {
  display: none;
}
#block-search-form .form-item-search-block-form .form-text {
	background: url("../images/graphic-assets/search_box.png") no-repeat;
	width:180px;
	height: 30;
	padding-top: 7px;
	border:0px;
	padding-left:10px;
	margin-top: 30px;
	padding-bottom:0px;
	color:#198097;
	
}
#block-search-form .form-item-search-block-form input{
	background: url("../images/graphic-assets/search_box.png");
	background-repeat:repeat;
	background-position: 180px 32px;
	width:175px;
	height:32px;
	border:none;
	padding-left:6px;
	color:#198097;
}
#block-search-form .form-item-search-block-form input{
	color:	#FFDEAD;
	
}
#block-search-form .form-submit {
	background: url("../images/search_icon.png") ;
    border: medium none;
    display: block !important;
    font-size: 0px;
    height: 20px;
    left: 150px;
    position: relative;
    right: 0;
    top: -24px;
    width: 20px;
}

#block-search-form .form-submit:hover {
	background-position: 0 -20px;
}

#block-search-form {
	float:left;
	width:180px;
}
#block-search-form .form-item-search-block-form label {
	display:none;
}

#search-form {
	display:none;
}
.search-info {
	display:none;
}
.section-search h1.title {
	display:none;
}
.doctor-view-testimonial {
	margin-bottom:20px;
}
.breadcrumb {
	margin-bottom:20px;
	color:#666666;
}	
.breadcrumb a {
	color:#999999;
}
.menu-314 a , .menu-316 a {
	cursor:default;
}
p.term-condition {
	margin:0;
	padding:0;
	color:#198097;
}	
a#term-condition {
	text-decoration:underline;
}
#edit-actions {
	float:right;
	padding-right:65px;
}
#contact-site-form #edit-actions {
 float: left;
}

#block-search-form #edit-actions {padding-right:160px;}
.page-node-add-surgeon #edit-actions,
.page-node-add-quote #edit-actions {
  float: left;
  margin: 10px 0 20px;
}

.webform-close-bt {
	background: url("../images/quote/bt_close.png");
	background-repeat:no-repeat;
	display:block;
	width:29px;
	height:29px;
	font-size:0;
	float:right;
	margin-top: 12px;
	margin-right: 12px;
}
.breadcrumb {
	text-transform:uppercase;
}
.section-search h2 {
	text-transform:none;
	color:#ff6c00;
	font-size:16px;
}
.pager , .pager li a {
	color:#198097;
}
.pager li a:hover {
	color:#ff6c00;
}
.item-list .pager li.pager-first , .item-list .pager li.pager-last {
	display:none;
}
.item-list .pager li.pager-current {
	background: url("../images/pagination.png");
	background-repeat:no-repeat;
	color:#FFFFFF;
	padding-top:3px;
	padding-left:8px;
}
.search-results dt {
	border-top:dotted 1px #CCCCCC;
	padding-top:10px;
}
.search-results dd {
	/*border-bottom:dotted 1px #CCCCCC;*/
	margin-top:5px;
	font-style:normal;
}
.item-list .pager {
	text-align:left;
}
.item-list ul.pager {
	padding-left:0px;
	padding-top:5px;
}
.text-result {	
	text-transform:uppercase;
}
/*.node-type-home-page img{
	background-image: url("../images/graphic-assets/banner.jpg");
}*/

/*--------- move-----------------*/
.home-quote-open{
	/*display:none;
	position: relative;
    top: 15px;*/
	float:left;
	width:20px;
}
.home-quote-close{
    float: right;
    margin-top: -2.5em;
	/*display:none;*/
	
}
.get_a_free_quote{
	position: static;
	margin-top: -100px;
	width: 100%;
}
.node-type-home-page #content a#get_a_free_quote{   
  display: block;
  font-size: 0px;
	font-weight:bold;
  height: 55px;
  width: 245px;
	color:#FFFFFF;
	background-image: url("../images/graphic-assets/bt_FreeQuote.png");
  background-repeat: no-repeat;
	text-align:center;
	line-height: 47px;
	position:relative;
	z-index:100;
	margin: 0 auto;
	
}
.node-type-home-page #content a#get_a_free_quote:hover {
  background-image: url("../images/graphic-assets/bt_FreeQuote.png");
	background-position:0px -55px;
  background-repeat: no-repeat;
}


.node-type-home-page #content a#enquire-now {   
    display: block;
    height: 42px;
    width: 130px;
	line-height:40px;
	color:#FFFFFF;
	background-image: url("../images/graphic-assets/bt_enquire.png");
    background-repeat: no-repeat;
	float:left;
	margin-left:0px;
	font-size:0px;
	font-weight:bold;
margin-top:30px;	
}
.node-type-home-page #content a#enquire-now:hover {
 
	background-position:0px -45px;
}
.node-type-home-page #content a#block-login {
    background-image: url("../images/home_bt_enquire.png");
    background-repeat: no-repeat;
    color: #FFFFFF;
    display: block;
    float: right;
    font-size: 13px;
    font-weight: bold;
    height: 42px;
    line-height: 40px;
    text-align: center;
    width: 121px;
}

.node-type-home-page #content a#live-online-home {
    background-image: url("../images/graphic-assets/bt_chat.png");
    background-repeat: no-repeat;
    display: block;
    font-size: 0;
    height: 65px;
    width: 166px;
	float:left;
}
.node-type-home-page #content a#live-online-home:hover{
	background-image: url("../images/graphic-assets/bt_chat.png");
    background-repeat: no-repeat;
	background-position:0px -65px;

}
.node-type-home-page #content a{
    color: #1C63A8;
    font-family: Georgia;
    font-size: 14px;
    font-weight:italic;
	
}
.node-type-home-page #content a:hover {
    color: #FF6C00;
}
.enquire-now-homepage{
	float: left;
    width: 130px;
	display: none;
}
.testimonials-content-title{
	/*padding-top:0px;
	padding-bottom:0px;
	width:270px;
	height:50px;
	padding-left:0px;
	padding-right:0px;*/
	padding:0px;
	/*margin-top: 10px;*/
	/*margin-left: 24px;*/
}

.testimonials-procedure-link a:hover{
	color:#FF6C00 !important;
}
.two-sidebars .content{
	/*  margin-left: 10px;*/
    padding-left: 0;
}

.testimonials-name{
	font-size:16px;
	color:#fff;
	font-family:calibri;
	font-weight:bold;
	line-height:16px;
}

.testimonials-localtion{
	font-size:18px;
	color:#FFF;
	font-family:calibri;
	font-weight: bold;
	/*width:270px;*/
}
.testimonials-content-procedure{
	/*clear:both;
	float:left;*/
	font-size:16px;
	color:#333333;
	font-family:calibri;
	font-weight:bold;
	/*width:270px;*/
	/*line-height:40px;*/
	/*padding-left:20px;*/
	/*padding-top:5px;*/
	width: 260px;
}
.testimonials-content-procedure a{
	color:1C63A8 !important;
	font-size:16px !important;
	font-family:calibri !important;
	font-weight:bold !important;
}
.testimonials-procedure-link a{
	font-family:calibri !important;
	font-size:14px !important;
	color:#FFF !important;
}
.testimonials-content-procedure a:hover{
	color:333333 !important;
}

.testimonials-comment{
	margin-top: 10px;
	margin-bottom: 10px;
	height: 260px;
	overflow:hidden;
}
.testimonials-content-body, .testimonials-content-body a{
	color:#333 !important;
	font-family:georgia,times,serif;
	font-size:16px !important;
	font-style:italic;
	/*width:270px;*/
	line-height:1.4em;
	padding-left: 5px;
	padding-right: 5px;
    width: 230px;
	float: left;
}
.testimonials-content-body a:hover{
	color:#1C63A8 !important;
}
.testimonials-content-body p{
	/*padding:0px !important;
	margin:0px !important;*/
	margin-top:5px;
}
#testimonials-content-bottom{
    padding-left: 13px;
}

.node-type-home-page #content-area .testimonials-content-readmore a,
.node-type-home-page #content-area .packages-content-readmore a ,
.node-type-home-page #content-area .destination-content-readmore a,
.node-type-home-page #content-area .testimonials-readmore a {
    color: #1C63A8;
    font-family: Georgia;
    font-size: 14px;
    font-weight:italic;
}
.node-type-home-page #content-area .testimonials-content-readmore a:hover,
.node-type-home-page #content-area .packages-content-readmore a:hover ,
.node-type-home-page #content-area .destination-content-readmore a:hover,
.node-type-home-page #content-area .testimonials-readmore a:hover {
    color: #FFF;
}
.testimonials-content-readmore,.testimonials-readmore{
	padding-bottom:7px;
	padding-left:0px;
	width:250px;
	font-family:Georgia;
	font-size:14px;
	font-style:italic;
	margin-top:-30px;
}
.testimonials-readmore{
	margin-left:24px;
}
#testimonials-1,#testimonials-2,#testimonials-3,#testimonials-4,#testimonials-5{
	width:270px;
	/*float:left;*/
	height: 345px;
}
#home-packages{
	background-image: url("../images/graphic-assets/home_bluebox3.png");
    clear: both;
    display: block;
    height: 420px;
    width: 320px;
}

#packages-content{
	/*width:275px;
	margin-left:24px;
	margin-top: 10px;*/
	/*height: 330px;*/
	/*padding: 0 25px;*/
    width: 270px;
	padding: 20px 25px 0;
}
.packages-content-image{
	padding-top: 0px;
	/*width:280px;*/
}
.packages-content-title{
	font-family:Calibri,Lucida Sans,Lucida Grande,Lucida Sans Unicode,sans-serif;
	font-size:16px;
	font-weight:bold;
	color:#333333;
	/*padding-top:0px;
	padding-bottom:10px;*/
	line-height:18px;
	width:280px;
	margin-top: 10px;
}
.packages-content-price{
	font-family:Georgia,Times New Roman,Times,serif;
	font-size:14px;
	color: #585858;
	/*margin-top:-8px;*/
	line-height:18px;
	width:280px;
}

.packages-content-readmore{
	padding-top:0px;
	padding-left:0px;
	width:250px;
	font-family:Georgia;
	font-size:14px;
	font-style:italic;
	padding-bottom:0px;
}
.packages-content-page{
	/*width:135px;
	padding-top:20px;*/
	/*float: left;*/
    margin-bottom: 10px;
    margin-left: -4px;
    /*margin-top: 20px;*/
    padding-right: 0;
    width: 270px;
	height: 27px;
}
#packages-page-number-1{
	background-image: url("../images/graphic-assets/bt_banner1.png");
	background-repeat: no-repeat;
	width:27px;
	height:27px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
	padding-bottom:0px;
}
#packages-page-number-2{
	background-image: url("../images/graphic-assets/bt_banner2.png");
	background-repeat: no-repeat;
	width:27px;
	height:27px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
	padding-bottom:0px;
}
#packages-page-number-3{
	background-image: url("../images/graphic-assets/bt_banner3.png");
	background-repeat: no-repeat;
	width:27px;
	height:27px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
	padding-bottom:0px;
}
#packages-page-number-4{
	background-image: url("../images/graphic-assets/bt_banner4.png");
	background-repeat: no-repeat;
	width:27px;
	height:27px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
	padding-bottom:0px;
}
#packages-page-number-5{
	background-image: url("../images/graphic-assets/bt_banner5.png");
	background-repeat: no-repeat;
	width:27px;
	height:27px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
	padding-bottom:0px;
}
#packages-page-number-1.active{
	background-image: url("../images/graphic-assets/bt_banner1.png");
	background-repeat: no-repeat;
	background-position:0px -55px;
	width:27px;
	height:27px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
	padding-bottom:0px;
}
#packages-page-number-2.active{
	background-image: url("../images/graphic-assets/bt_banner2.png");
	background-repeat: no-repeat;
	background-position:0px -55px;
	width:27px;
	height:27px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
	padding-bottom:0px;
}
#packages-page-number-3.active{
	background-image: url("../images/graphic-assets/bt_banner3.png");
	background-repeat: no-repeat;
	background-position:0px -55px;
	width:27px;
	height:27px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
	padding-bottom:0px;
}
#packages-page-number-4.active{
	background-image: url("../images/graphic-assets/bt_banner4.png");
	background-repeat: no-repeat;
	background-position:0px -55px;
	width:27px;
	height:27px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
	padding-bottom:0px;
}
#packages-page-number-5.active{
	background-image: url("../images/graphic-assets/bt_banner5.png");
	background-repeat: no-repeat;
	background-position:0px -55px;
	width:27px;
	height:27px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
	padding-bottom:0px;
}
#testimonials-page-number-1:hover{
	background-position:0px -27px;
}
#testimonials-page-number-2:hover{
	background-position:0px -27px;
}
#testimonials-page-number-3:hover{
	background-position:0px -27px;
}
#testimonials-page-number-4:hover{
	background-position:0px -27px;
}
#testimonials-page-number-5:hover{
	background-position:0px -27px;
}
#packages-page-number-1:hover{
	background-position:0px -27px;
}
#packages-page-number-2:hover{
	background-position:0px -27px;
}
#packages-page-number-3:hover{
	background-position:0px -27px;
}
#packages-page-number-4:hover{
	background-position:0px -27px;
}
#packages-page-number-5:hover{
	background-position:0px -27px;
}
#packages-page-number-1.active:hover,
#packages-page-number-2.active:hover,
#packages-page-number-3.active:hover,
#packages-page-number-4.active:hover,
#packages-page-number-5.active:hover{
	cursor:default !important;
	background-position: 0 -55px;
}
#packages-page-number-1{
	background-image: url("../images/graphic-assets/bt_banner1.png");
	background-repeat: no-repeat;
	width:27px;
	height:27px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
	padding-bottom:0px;
}
#packages-page-number-2{
	background-image: url("../images/graphic-assets/bt_banner2.png");
	background-repeat: no-repeat;
	width:27px;
	height:27px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
	padding-bottom:0px;
}
#packages-page-number-3{
	background-image: url("../images/graphic-assets/bt_banner3.png");
	background-repeat: no-repeat;
	width:27px;
	height:27px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
	padding-bottom:0px;
}
#packages-page-number-4{
	background-image: url("../images/graphic-assets/bt_banner4.png");
	background-repeat: no-repeat;
	width:27px;
	height:27px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
	padding-bottom:0px;
	
}
#packages-page-number-5{
	background-image: url("../images/graphic-assets/bt_banner5.png");
	background-repeat: no-repeat;
	width:27px;
	height:27px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
	padding-bottom:0px;
	
}
/*-home-destination-*/
#destination-page-number-1{
	background-image: url("../images/graphic-assets/bt_banner1.png");
	background-repeat: no-repeat;
	width:27px;
	height:27px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
	padding-bottom:0px;
}
#destination-page-number-2{
	background-image: url("../images/graphic-assets/bt_banner2.png");
	background-repeat: no-repeat;
	width:27px;
	height:27px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
	padding-bottom:0px;
}
#destination-page-number-1.active{
	background-image: url("../images/graphic-assets/bt_banner1.png");
	background-repeat: no-repeat;
	background-position:0px -55px;
	width:27px;
	height:27px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
	padding-bottom:0px;
}
#destination-page-number-2.active{
	background-image: url("../images/graphic-assets/bt_banner2.png");
	background-repeat: no-repeat;
	background-position:0px -55px;
	width:27px;
	height:27px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
	padding-bottom:0px;
}
#destination-page-number-1:hover{
	background-position:0px -27px;
}
#destination-page-number-2:hover{
	background-position:0px -27px;
}
#destination-page-number-1.active:hover,
#destination-page-number-2.active:hover{
	cursor:default !important;
	background-position: 0 -55px;
}
/*---view footer---*/
.view-footer-procedure .views-view-grid a{
	color: #585858;
    font-family: calibri;
    font-size: 12px;
    font-weight: normal;
    line-height: 15px;
    text-decoration: none;
}
.view-footer-procedure .views-view-grid a:hover{
	color: #FF6C00;
}

.view-footer-procedure .view-content h3{
	color: #999999;
    font-family: calibri;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}
.view-footer-procedure .view-content table{
	margin-top: 5px;
	margin-bottom:10px;
}
.view-footer-procedure .view-content table tr{
	line-height: 21px;
}

.view-footer-procedure .view-content table tr td.col-1 div{
	width:170px;
}
.view-footer-procedure .view-content table tr td.col-2 div{
	width:215px;
}
.view-footer-procedure .view-content table tr td.col-3 div{
	width:205px;
}
.view-footer-procedure .views-table{
	float:left;
	margin-right: 5px;
    width: 195px;
}
.view-footer-procedure .views-table caption{
	text-align: left;
	color: #999999;
    font-family: calibri;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
	line-height: 1.3em;
	margin-bottom: 5px;
}
.view-footer-procedure .views-table  tr.even,
.view-footer-procedure .views-table  tr.odd,
.view-footer-procedure .views-table  tr.even th,
.view-footer-procedure .views-table  tr.odd th,
.view-footer-procedure .views-table  tr.even td,
.view-footer-procedure .views-table  tr.odd td{
	background-color: transparent;
	border-bottom:none;
	margin:0px;
	padding:0px;
}
.view-footer-procedure .views-table a{
	color: #585858;
    font-family: calibri;
    font-size: 12px;
    font-weight: normal;
    line-height: 15px;
    text-decoration: none;
}
.view-footer-procedure .views-table a:hover{
	color:#FF6C00;
}
	
.page-user h1.title,
.page-user-password h1.title,
.page-contact-contact-us h1.title{
	margin-left: 10px;
}
#dest-menu-66{
	margin-left: 0px;
}
#dest-menu-69{
	margin-left: 0px;
}
#node-28 ,#node-30{
	margin-left:-8px;
}
/*------------NEWSLETTER--------------*/
#block-block-18{
	margin-left: 8px;
	width: 178px;
}
.region-sidebar-second .newsletter-subcribe{
	border-top: 2px solid #CACACA;
	margin-top: 30px;
    padding-top: 10px;
}

.front .newsletter-subcribe,
.page-enquiry .newsletter-subcribe{
	/*margin-top:50px;*/
	background:url('../images/signup_box.png') no-repeat;
	width: 250px;
	height: 180px;
	/*padding:20px 30px;*/
	/*margin-left: -5px;*/
}
.front .newsletter-subcribe,
.page-enquiry .newsletter-subcribe{
    width: 50%;
    margin-left: 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 2px 2px 4px #ccc;
    box-sizing: border-box;
    background-image: none;
    height:130px;
}
.front .newsletter-subcribe {
  height:auto !important;
}
.newsletter-subcribe .newsletter-form #edit-submit-1 {
	background:url('../images/signup/signup_bt.png') no-repeat 0px 0px;
	width: 110px;
	height: 40px;
	font-size:0px;
	text-indent:9999;
	cursor:pointer;
	border: medium none;
	margin: 5px 0 0 -5px;
}
.newsletter-subcribe .newsletter-form #edit-submit-1:hover {
	background:url('../images/signup/signup_bt.png') no-repeat 0px -40px;
}
.front .newsletter-subcribe .newsletter-form #edit-submit-1,
.page-enquiry .newsletter-subcribe .newsletter-form #edit-submit-1  {
	background:url('../images/signup/signup_bt.png') no-repeat 0px 0px;
	width: 110px;
	height: 40px;
	font-size:0px;
	text-indent:9999;
	cursor:pointer;
	border: medium none;
	margin: 5px 0 0 -5px;
}
.front .newsletter-subcribe .newsletter-form #edit-submit-1:hover,
.page-enquiry .newsletter-subcribe .newsletter-form #edit-submit-1:hover {
	background:url('../images/signup/signup_bt.png') no-repeat 0px -40px;
}
.newsletter-title{
	color: #FF6C00;
    font-size:25px;
	font-weight: normal;
}
.page-enquiry .newsletter-title{
	padding-left:10px;
}
.region-sidebar-second .newsletter-title{
    font-size:18px;
}
.newsletter-form .form-item label {
	color: #198097;
	font-size:14px;
	font-weight: bold;
	margin-bottom: 0px;
}
.newsletter-form .form-item{
	margin-bottom:0px;
	margin-top:5px;
}
/**/
.signup{
	width: 980px;
	margin-top: 10px;
}
.page-enquiry .signup{
	margin-left: -5px;
}
.signup .signup-left{
	float:left;
	margin-right: 25px;
}
.signup .signup-right{
	float:left;
}
.front .newsletter-subcribe #edit-name-wrapper,.front .newsletter-subcribe #edit-from-wrapper,
.page-enquiry .newsletter-subcribe #edit-name-wrapper,.page-enquiry .newsletter-subcribe #edit-from-wrapper{
	float:left;
	width:202px;
}
.front .newsletter-subcribe #edit-name-wrapper input,.front .newsletter-subcribe #edit-from-wrapper input,
.page-enquiry .newsletter-subcribe #edit-name-wrapper input,.page-enquiry .newsletter-subcribe #edit-from-wrapper input{
	width:187px;
	height:30px;
}
.newsletter-subcribe #edit-name-wrapper input,
.newsletter-subcribe #edit-from-wrapper input{
	width:170px;
	height:30px;
}
.front #block-block-17,.page-enquiry #block-block-17{
	margin-bottom:0px;
}
#node-107{
	border-bottom: 3px solid #21ACCD;
    margin-bottom: 30px;
    padding-bottom: 30px;
}
.node-type-webform #node-107 div.field {
  display: none;
}
.region-sidebar-second .section {
    margin: 0 0 0 10px;
    padding: 0;
}
.node-type-doctor .block-views h2.block-title {
  font-size: 15px;
}

.node-type-doctor .view-display-id-block .view-content .item-list h3 {
  margin: 1.5em 0 !important;
}
