/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* HTML element (SMACSS base) rules */
@import "normalize.css";

/* Layout rules */
@import "layouts/responsive.css";

/* Component (SMACSS module) rules */
@import "components/misc.css";
/* Optionally, add your own components here. */
@import "print.css";

/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */

#admin-menu .dropdown .admin-menu-icon img {
  height:16px;
  width:16px;
}

#page-wrapper{
  width:100%;
	margin-left:auto;
	margin-right:auto;
	background-image:url("../images/white_box.png"); 
	background-repeat:repeat-y;
	background-position:center top;
}

#page {
  width:980px;
	margin-left:auto;
	margin-right:auto;
}

#header {
  padding-left: 0px;
  padding-right: 0px;
}

#page-footer {
	background-image:url("../images/footer_box.jpg");
	min-height:200px;
	background-repeat:no-repeat;
	margin-left:-1px;
	margin-right:auto;
	background-position:center bottom;
	font-size: 12px;
  line-height: 20px;
}

body {
	min-height: 600px;
	background-image: url("../images/bg_bottom2.jpg");
	background-repeat: repeat-y;
	font-family: calibri,lucida sans,lucida Grande,sans-serif;
	font-size: 16px;
	color:#333333;
	line-height: 1.5em;
}

.header-inner {
	background-image: url("../images/graphic-assets/header_line.png");
	background-repeat: no-repeat;
	background-position: 0px 65px;
	height: 70px;
	margin-top: 53px;
} 

.field-name-body p {
  /*color: #585858;*/
} 

.cke_editor body {
  background:none !important;
  background-image:none !important;
}

.section-faqs .field-name-body p,
.node-type-destinations-landing-page .hospital-body p {
  color:#333333;
}

#block-nice-menus-1 ul.nice-menu li.menu-298 ul li.active-trail a:hover,
#block-nice-menus-1 ul.nice-menu li.menu-298 ul li.active-trail:hover{
  height:30px !important;
  line-height:30px !important;
}
#block-nice-menus-1 ul.nice-menu li.menu-298 ul li a{
  padding-left: 15px !important;
}

#block-makeover-makeover-footer p {
  margin: 1em 0;
}

.front #block-nice-menus-1 ul.nice-menu li.menu-297 {
  background-image: url("../images/graphic-assets/point.jpg");
  background-repeat: no-repeat;
  background-position: 22px bottom;
  height: 45px;
  cursor: default;
}

.front #block-nice-menus-1 ul.nice-menu li.menu-297:hover{
	background-image:none !important;
}

#user-login {
  width: 500px;
  float:left;
}

#user-login #edit-actions {
  margin: auto 70px;
  float: left;
  padding-right:0px;
}
#user-login #edit-name{
	margin-left: 0;
}
#user-login .form-item label {
  font-size:13px;
  width:70px;
}

#user-login .form-item label {
  font-size:13px;
  width:75px;
}
#block-forgetpwd{
	float: left;
    margin-left: 75px;
    padding-right: 20px;
    padding-top: 0px;
    width: 160px;
}
#user-login .form-item .form-text{
  padding: 2px;
  border: 1px solid #ccc;
  width:275px;
}	

.ui-accordion .ui-accordion-content {
  /*height:auto !important;*/
}

.ui-widget {font-size:inherit;}
.procedure-faq {margin-bottom:20px;}
.flex-control-nav {top:20px;text-align:left;}

.region-content-bottom-one .view-content,
.region-content-bottom-two .view-content,
.region-content-bottom-three .view-content {
  background-image: url("../images/graphic-assets/home_bluebox3.png");
	background-position:no-repeat;
	height:420px;
	width: 100%;
	display:block;
	clear:both;
	background-size: 100% 100%;
}

.view-content .flexslider {
  height: auto;
  padding: 55px 30px 0px;
  width: 100%;
  background: none;
  border: none;
  box-sizing: border-box;
}

.view-home-testimonials .view-content .views-field-field-testimonial-patient-name div {
	font-size: 16px;
	color: #fff;
	font-family: calibri;
	font-weight: bold;
	line-height: 16px;
}

.view-home-testimonials .view-content .views-field-field-testimonial-location div {
	font-size: 18px;
	color: #FFF;
	font-family: calibri;
	font-weight: bold;
}

.view-home-testimonials .view-content .views-field-title a {
	font-family: calibri !important;
	font-size: 14px !important;
	color: #FFF !important;
	font-weight: bold;
}

.view-home-testimonials .view-content .views-field-body{
  font-family: georgia,times,serif;
	font-size: 16px !important;
	font-style: italic;
  line-height: 1.4em;
	padding-left: 5px;
	padding-right: 5px;
	width: 100%;
	float: left;
}
.block.block-makeover.contextual-links-region {
    display: inline-block;
}
.view-home-testimonials .view-content .views-field-body a {
  color: #333 !important;
}
.view-home-testimonials .view-content .views-field-body a:hover {
  color: #0088C1 !important;
}
.view-home-testimonials .view-content .views-field-body:before {
  content:'';
  padding:0 10px;
  background-image: url(../images/quote1-white.png);
  background-position: top left;
  background-repeat: no-repeat;
  text-indent: 23px;
  left: -10px;
  position: relative;
}
.view-home-testimonials .view-content .views-field-body:after {
  content:'';
  padding:0 10px;
  background-image: url("../images/quote2-white.png");
	background-repeat: no-repeat;
	background-position: bottom right;
	display: block;
  width: 200px;
  height: 20px;
	position: relative;
	top: -50px;
	right: -10px;
}
.view-home-testimonials .view-content .views-field-body p,
.view-home-packages .view-content .views-field-body p,
.view-home-destinations .view-content .views-field-body p {
  margin-top: 5px;
}

.view-home-packages .view-content .views-field-body p {
     margin: 0;
    color: #333333;
    font-size: 15px;
    line-height: 18px;
}
.view-home-destinations .view-content .views-field-body p {
    margin: 13px 0;
    color: #333333;
    font-size: 15px;
    line-height: 18px;
	font-family: calibri,lucida sans,lucida Grande,sans-serif;
}
.view-home-testimonials .view-content .views-field-body .views-more-link {
	color:#0088c1 !important;
	font-family: Georgia;
	font-size: 14px;
	font-style: italic;
}
.view-home-testimonials .view-content .views-field-body .views-more-link:hover {
  color:#ff6c00 !important;
}
.view-home-packages .view-content .views-field-body a,
.view-home-destinations .view-content .views-field-body a {
    padding-top: 20px;
    font-family: Georgia;
    font-size: 14px;
    font-style: italic;
    display: inline-block;
}
.view-home-destinations .view-content .views-field-body a {
    padding-top: 20px;
}
.view-content span#convert {
   font-size: 14px;
}

.view-home-packages .views-field-title {
	font-family: Calibri,Lucida Sans,Lucida Grande,Lucida Sans Unicode,sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #333;
	line-height: 18px;
	margin-top: 13px;
}

.view-home-packages .views-field-field-package-price,
.view-home-testimonials .views-field-body,
.view-home-destinations .views-field-body {
	font-family: Georgia,Times New Roman,Times,serif;
	font-size: 14px;
  line-height: 18px;
	
}

.flex-control-paging li a {
    width: 22px;
    height: 22px;
    display: block;
    background: #BBECFF;
    cursor: pointer;
    text-indent: inherit;
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
    -o-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3); 
    -webkit-border-radius: none;
    -moz-border-radius: none;
    border-radius: none;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

.flex-control-paging li a.flex-active,
.flex-control-paging li a.flex-active:hover {
  background: #FF8B16;
  color:#ffffff;
  -webkit-box-shadow: inset 0 0 3px rgba(255, 255, 255, 1);
    -moz-box-shadow: inset 0 0 3px rgba(255, 255, 255, 1);
    -o-box-shadow: inset 0 0 3px rgba(255, 255, 255, 1);
    box-shadow: inset 0 0 3px rgba(255, 255, 255, 1); 
}
.flex-control-paging li a:hover {
  background: #ffffff;
}
.page-user-edit #user-profile-form .field-name-field-sg-title,.page-user-edit #user-profile-form #edit-picture,.page-user-edit #user-profile-form #edit-contact,.page-user-edit #user-profile-form #edit-timezone,#user-profile-form .description{
	display:none;
}
#user-profile-form .pull-right{
  float: right !important;
  margin-left:2%;
}
#user-profile-form .pull-left{
  float: left !important;
}
#user-profile-form .row .col  {
  width:49%;
}
#user-profile-form .pull-full label {
    width: 13.7%;
}
#user-profile-form .pull-full .form-text {
	width:84.3%;
}
#user-profile-form .form-text,
#user-profile-form .form-select{
   width: 68%; 
   height:30px;
   box-sizing:border-box;
   padding:5px;
}
 #user-profile-form label{
  float: left;
  margin-right: 2%;
  width: 30%;
  /*text-align: right;*/
}
#user-profile-form .form-item {
	margin:5px 0;
	position:relative;
}
#user-profile-form .form-item.form-type-radio {
	float:left;
	margin-right:30px;
}
#user-profile-form .form-item.form-type-radio:last-child {
	margin-right:0;
}
#user-profile-form .form-radios label {
  float: none;
  display:inline;
}
.container-inline-date .form-item input,
.container-inline-date .form-item select, 
.container-inline-date .form-item option {
	clear:none;
	margin-right:0;
	width:68%;
 }
 
 .container-inline-date .form-item, 
.container-inline-date .form-item input,
.container-inline-date .date-padding {
	width:100%;
}
#user-profile-form  .row:before,
#user-profile-form  .row:after{
  display: table;
  content: " ";
  clear:both;
}
#user-profile-form .form-item-field-sg-preferred-language-und label {
  float:none;
  display:inline;
}
#user-profile-form .form-item label{
	font-weight:bold;
	font-size:14px;
}
#user-profile-form .form-item label.option{
	font-weight:normal;
}
#user-profile-form  #edit-submit{
	float:right;
}
#user-profile-form .date-no-float{
	width:100%;
}
#customaccommodation,
#edit-field-accommodation-preference,
#edit-field-travel-preferences {
  float:left;
  width:100%;
}
.not-logged-in.node-type-quote .messages--status.messages.status{
	display:none;
}
.form-item-field-sg-plan-date-und-0-value label,
.form-item-field-sg-home-date-und-0-value label {
  /*width:250px;*/
}

.form-item-field-sg-plan-date-und-0-value .form-item .description,
.form-item-field-sg-home-date-und-0-value .form-item .description {
  /*padding-left:0px;*/
}

.group_medical_conditions .form-type-radios label {
  width:75%;
}
#edit-converter-currency {
  font-size:13px;
}

@media only screen and (min-width:0) and (max-width:1050px) {
	.region-content-bottom-one .view-content, .region-content-bottom-two .view-content, .region-content-bottom-three .view-content {
		height: 560px;
	}
}
@media only screen and (min-width:768px){
  .view-home-destinations .flexslider .slides img {
     height:120px;
   }
}
@media only screen and (min-width:0) and (max-width:767px) {
  #user-profile-form .row .col  {
    width:100%;
  }
  #user-profile-form .pull-full label {
    width: 100%;
  }
  #user-profile-form .pull-full .form-text {
	  width:100%;
  }
  .region-content-bottom-one .view-content, .region-content-bottom-two .view-content, .region-content-bottom-three .view-content {
		background: -webkit-linear-gradient(#8be0ff, #5dd3ff); 
		background: -o-linear-gradient(#8be0ff, #5dd3ff);
		background: -moz-linear-gradient(#8be0ff, #5dd3ff);
		background: linear-gradient(#8be0ff, #5dd3ff);
		border-radius: 5px;
		box-shadow: 1px 2px 5px #ccc;
		height: auto;
		padding-bottom:15px;
	}
	.view-content .flexslider {
		margin: 0;
	}
	.flexslider .slides img {
		width: auto;
		display: block;
		margin: 0 auto;
	}
}

#edit-field-disclaimer p {
  margin-bottom:-5px;
}
#quote-node-form #edit-field-quote-term-condition .form-item{
  margin-bottom:15px;
}

/*.node-type-quote .messages,
.node-type-surgeon .messages {
  display:none;
}*/

.node-type-quote .separator {
  border-top: 2px solid rgb(202, 202, 202); 
  margin-top: 15px; 
  padding-top: 15px;
}

.node-type-quote .separator span{
  float: left;
  padding-bottom: 10px;
  width: 100%;
}
.newsletter-title {
    padding: 15px 15px 0;
}
.region-sidebar-second .newsletter-subcribe {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 2px 2px 4px #ccc;
}
div#af-form-296792985 .af-body label.previewLabel {
    font-size: 18px;
	color: #585858;
    padding-bottom: 3px;
}
#af-form-296792985 .af-element.buttonContainer input {
    width: 0;
    padding: 22px 56px;
    background-image: url(../images/bt_signup.png) !important;
    background-repeat: no-repeat !important;
}
#af-form-296792985 .af-element.buttonContainer input:hover {
    background-position: 0 -45px !important;
}

.sidebar-right .block-block hr,
.sidebar-right .block-multiblock hr{
  border: 1px solid #CCc;
  margin: 1.5em 26px;
}

.section-faqs #accordion h3,
.section-faqs #accordion .ui-accordion-content p{
  font-family:Calibri;
  font-size:16px;
}
.section-faqs #accordion h3 {
  font-weight:bold;
}

.form-field-name-field-hairtransplant-procedures .term-reference-tree > ul.term-reference-tree-level > li > .form-type-checkbox .form-checkbox {
  display:none;
}
.form-field-name-field-hairtransplant-procedures .term-reference-tree > ul.term-reference-tree-level > li > .form-type-checkbox label {
  font-weight: bold;
}
.form-field-name-field-hairtransplant-procedures .form-type-checkbox-tree > label {
  display:none;
}
.af-element.privacyPolicy > p {
    margin: 0;
}
.af-element.privacyPolicy {
    padding: 0;
}
#af-form-296792985 .af-standards .af-element.buttonContainer {
    padding-bottom: 0;
}
#af-form-296792985 .af-body input.text {
    height: 30px;
}
.region-sidebar-second .newsletter-title {
    padding-top: 5px;
}
.region-sidebar-second #af-form-296792985 .af-body {
    padding-top: 10px;
}
.region-sidebar-second #af-form-296792985 .af-body a {
    line-height: 10px;
    display: block;
}
.af-element.privacyPolicy > p, div #af-form-296792985 .af-body a {
    color: #aaa;
}
.region-sidebar-second #af-form-296792985 .af-body input.text {
    height: 28px;
}
div.region-sidebar-second .newsletter-title {
    font-size: 20px;
}
.profile .user-picture {
  float:left;
  width:100%;
}
.doctor-facility .field-name-field-doctor-facility,
.doctor-facility .years {
  display:inline-block;
}

.view-procedure-price .view-grouping-content .views-table caption{
  text-align: left; 
  font-weight: bold;
  color: rgb(255, 108, 0);
}
.contact-gray-box-header .contact-email a {
  font-size:12px;
}
.signup .bottom-content {
  margin-bottom:40px;
}
.field-name-field-upload-image .field-item {
  display:inline-block;
  width:150px;
  height: 186px;
  overflow: hidden;
  max-width: 100%;
  margin-right: 15px;
}
.field-name-field-upload-image .field-item img{
  width:100%;
  height:auto;
  max-width:100%;
}
.title_details {
  margin-bottom:20px;
}
.middle-header {
  display: inline-block;
  float: left;
  margin: 0 auto;
  position: relative;
  top: -32px;
  left: 77px;
}
.middle-header img {
   max-width: 159px;
   display: inline-block;
}
.doctor-body .field-name-body strong {
  text-transform: uppercase;
}
.doctor-body .field-name-body div {
  color: #585858;
	font-family: calibri,lucida sans,lucida Grande,sans-serif;
	line-height: 1.5em;
}
.field-name-body .package-gray-box.even {
  float:left;
  clear:left;
}
.form-item input[type="checkbox"].error, .form-item input[type="radio"].error, .form-item input[type="file"].error{
  outline: 2px solid #900;
}
div.custom_error{
  color: #900;
}
.view-whatclientssay-video .views-row {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eaeaea;
}
.view-whatclientssay-video .views-row .node-title {
  margin-bottom: 10px;
}
.term-reference-tree-button:hover {
  cursor: pointer;
}
.page-node-add-quote div.error,
.page-node-add-quote tr.error {
  float:left;
}
